.InvoiceFooter {
  margin-top: 88px;
}

.container {
  max-width: 375px;
  margin-inline: auto;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: end;
  padding-block: 21px 22px;
  padding-inline: 24px;
}

@media (min-width: 768px) {
  .InvoiceFooter {
    margin-top: 47px;
  }

  .container {
    padding-inline: 0;
    padding-block: 0;
    max-width: 504px;
    padding-bottom: 32px;
  }
}
