.backNavigation__container {
  max-width: clamp(
    327px,
    calc(327px + (504 - 327) * (100vw - 375px) / (768 - 375)),
    504px
  );
  margin-inline: auto;
}

.container {
  max-width: 327px;
  margin-inline: auto;
}

.header {
  margin-top: 26px;
}

.header h3 {
  color: var(--primary-text);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.5px;
}

.header h3 span {
  color: var(--hash);
}

@media (min-width: 768px) {
  .backNavigation__container {
    display: none;
  }
  .container {
    max-width: 504px;
  }
  .header {
    margin-top: 59px;
  }
}
