.header {
  background: var(--header-bg);
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo__container {
  height: 72px;
  width: 72px;
  border-radius: 0 20px 20px 0;
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo__container::after {
  content: "";
  position: absolute;
  height: 36px;
  width: 72px;
  background: var(--secondary);
  top: 50%;
  z-index: 0;
  border-radius: 20px 0 20px 0;
}

.logo {
  z-index: 5;
}

.actions {
  display: flex;
  gap: 3rem;
  align-items: center;
  margin-right: 24px;
}

.themeToggle {
  background: var(--header-bg);
  border: 0;
  cursor: pointer;
}

.profile {
  position: relative;
}

.profile__picture {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.profile::before {
  content: "";
  position: absolute;
  height: 72px;
  width: 1px;
  background-color: #494e6e;
  left: -24px;
  top: -20px;
}
