.InvoiceItem {
  background: var(--buton4-bg);
  border-radius: 8px 8px 0 0;
  box-shadow: 0 10px 10px -10px rgba(72, 84, 159, 0.1);
  padding: 24px;
}

.header,
.quantity,
.price,
.Desktop {
  display: none;
}

.row {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  align-items: center;
  gap: 8px;
}

.row__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.total {
  grid-column: 2;
  grid-row: 1 / span 2;
  justify-self: end;
}

.name,
.total,
.subline,
.quantity,
.price {
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
}

.name,
.total,
.subline {
  color: var(--primary-text);
}

.quantity,
.price {
  color: var(--due-date);
}

.sublines {
  color: var(--subline);
}

.InvoiceTotal {
  background: var(--invoice-total-bg);
  padding-block: 26px 22px;
  padding-inline: 24px;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 10px 10px -10px rgba(72, 84, 159, 0.1);
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.InvoiceTotal > h3 {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1px;
}

.Grand__total {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.5px;
}

@media (min-width: 768px) {
  .sublines,
  .Mobile {
    display: none;
  }

  .InvoiceItem {
    padding-block: 33px 39px;
    padding-inline: 32px;
  }

  .header {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: var(--due-date);
  }

  .header,
  .row {
    display: grid;
    grid-template-columns: 1fr 75px 75px 75px;
    gap: 20px;
    justify-items: end;
    align-items: center;
  }
  .header > div:first-child,
  .row > div:first-child {
    justify-self: start;
  }

  .row__container {
    margin-top: 32px;
    gap: 32px;
  }

  .quantity {
    display: block;
    grid-column: 2;
  }

  .price {
    display: block;
    grid-column: 3;
  }

  .total {
    grid-column: 4;
    grid-row: 1;
  }

  .Desktop {
    display: block;
  }
}
