.Button5 {
  background: #373b53;
  color: var(--secondary-text);
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  border: none;
  border-radius: 24px;
  padding-block: 18px 15px;
  padding-inline: 24px;
}
