.Button3 {
  background: #ec5757;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  border: none;
  border-radius: 24px;
  padding-block: 18px 15px;
  padding-inline: 24px 25px;
}
