.status {
  height: 40px;
  width: 104px;
  border-radius: 6px;

  font-weight: 700;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -0.25px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

.circle__Paid {
  background: rgba(51, 214, 159);
}

.circle__Pending {
  background: rgba(255, 143, 0);
}

.circle__Draft {
  background: var(--draft);
}

.Paid {
  background: rgba(51, 214, 159, 0.0571);
  color: rgba(51, 214, 159);
}

.Pending {
  background: rgba(255, 143, 0, 0.0571);
  color: rgba(255, 143, 0);
}

.Draft {
  background: var(--draft-bg);
  color: var(--draft);
}
